.header__box {
  text-transform: uppercase;
  /* margin: 20px; */
  font-weight: Bold;
  /* color: red; */
}

.header__logo {
  font-family: 'Montserrat', sans-serif;
  color: #091e3f;
  display: flex;
  flex-direction: column;
  margin: 0px;
  text-align: center;
  background-color: #fff;
  height: 52px;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  padding: 5px;
}

.header.svg {
  background: url(../../../assets/icons/burger2_121004.svg);
  background-repeat: no-repeat;
}
