@font-face {
  font-family: 'Montserrat_medium';
  font-style: normal;
  font-weight: 500;
  src: url('../../../assets/fonts/montserrat-v14-latin-500.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat'), local('Montserrat_medium'),
    /* IE6-IE8 */
    url('../../../assets/fonts/montserrat-v14-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../../../assets/fonts/montserrat-v14-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('../../../assets/fonts/montserrat-v14-latin-500.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navLink {
  text-decoration: none;
}

.selected {
  background-color: #fff;
}

.burgerList {
  width: 300px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.burgerButton {
  outline: none;
  background-color: #f6f7fb;
  border: 1px solid #cdd0d9;
  text-align: left;
  display: block;
  width: 100%;
  position: relative;
  vertical-align: middle;
  line-height: 40px;
  font-family: 'Montserrat';
  font-weight: 500;
  /* color: #a5adb2; */
  color: gray;

}

.burgerButton::before {
  content: ' ';
  vertical-align: middle;
  padding-left: 28px;
  padding-right: 8px;
  display: inline-block;
  background: url(../../../assets/icons/icons_menu/icon_dashboard.png);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center center;
}

.next::before {
  background: url(../../../assets/icons/icons_menu/icon_next.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.burned::before {
  background: url(../../../assets/icons/icons_menu/icon_burned_out.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.done::before {
  background: url(../../../assets/icons/icons_menu/icon_done.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.statistics::before {
  background: url(../../../assets/icons/icons_menu/icon_statistics.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.logButton {
  color: gray;
  padding-top: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Montserrat';
  font-weight: 500;
}

.logButton::after {
  content: ' ';
  width: 44px;
  margin: 0 auto;
  outline: none;
  display: block;
  /* display: block; */
  border: 1px solid #dce0e3;
}


/*@media screen and (min-width: 768px) {
  .burgerMenu {
    display: none;
  }
}*/
