.wrapper {
  display: flex;
}

.aside {
  width: 52px;
  min-height: calc(100vh - 52px);
  box-shadow: 2px 3.464px 8px 0px rgba(29, 29, 27, 0.1);
}

.outer {
  width: 80%;
  /* max-width: 375px; */
  margin: 0 auto;
}

.inner {
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.pageName {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 34px;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e0e5eb;
  font-size: 26px;
  font-weight: 500;
}

.chartWraper {
  width: 300px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 36px;
}

.tableWraper {
  width: 100%;
}

@media only screen and (min-width: 470px) {
  /* .outer {
    max-width: 768px;
  }

  .inner {
    max-width: 470px;
  } */

  .chartWraper {
    width: 360px;
  }
}

@media only screen and (min-width: 942px) {
  .outer {
    /* max-width: 1200px; */
    width: 80%;
  }

  .inner {
    max-width: 942px;
    width: 100%;
  }

  .chartWraper {
    width: 364px;
    margin: 0;
  }

  .tableWraper {
    width: 470px;
    margin: auto 0;
  }

  .componentsWraper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .pageName {
    margin-bottom: 76px;
    padding-top: 70px;
  }
}
