.registrationSection {
  max-width: 320px;
  margin: 0 auto;
  font-family: Montserrat;
}

.title {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  color: #091e3f;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.link {
  font-family: Montserrat;
  font-size: 13px;
  color: #869096;
  text-decoration: underline;
}

.subTitle {
  margin: 0;
  margin-bottom: 26px;
  font-size: 16px;
  color: rgb(9, 30, 63);
  font-weight: bold;
}
