.container {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 320px;
}

.section {
  display: block;
  margin: 0 auto;
  width: inherit;
}

.titleButton {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 14px;
  display: block;
  min-width: 300px;
  border: none;
  text-align: left;
  color: #869096;
}

.cardList {
  margin: 0 auto;
  padding: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardItem {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  width: 300px;
  height: 100px;
  background: gold;
  border: 1px solid red;
}

@media screen and (min-width: 768px) {
  .container {
    width: 640px;
  }

  .section {
    margin-bottom: 26px;
  }

  .titleButton {
    width: 640px;
  }

  .cardList {
    width: 640px;
    flex-direction: row;
  }
}


@media screen and (min-width: 980px) {
  .container {
    width: 980px;
  }

  .section {
    margin-bottom: 26px;
  }

  .titleButton {
    width: 980px;
  }

  .cardList {
    width: 980px;
    flex-direction: row;
  }
}
